<table class="mat-elevation-z4">
    <tr>
        <th>ID</th>
        <th>Recipient</th>
        <th>Address</th>
        <th>Location</th>
        <th>Date/Time In</th>
        <th>Date/Time Out</th>
        <th>Complete Text</th>
        <th>Image Location</th>
        <th>Description</th>
    </tr>
    <tr *ngIf="pkgInfo">
        <td>{{ pkgInfo.id }}</td>
        <td>{{ pkgInfo.recipient }}</td>
        <td>{{ pkgInfo.address }}</td>
        <td>{{ pkgInfo.location }}</td>
        <td>{{ pkgInfo.dateTimeIn }}</td>
        <td>{{ pkgInfo.dateTimeOut }}</td>
        <td>{{ pkgInfo.completeText }}</td>
        <td>{{ pkgInfo.imageLoc }}</td>
        <td>{{ pkgInfo.description }}</td>
    </tr>
</table>