<div class="toolbar">
    <mat-toolbar class="mat-elevation-z6" color="accent">
        <a mat-button routerLink="/home">
            <img class="icon" src="../../Packicon.ico" alt="logo">
            <span>Package Pal</span>
        </a>
        <span class="toolbar-options"></span>
        <mat-form-field class="search-field">
            <input #search matInput style="font-size: 12px;" type="search" placeholder="Search for a package" [(ngModel)]="value" (keyup.enter)="onEnter(search.value)">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </mat-toolbar>
</div>
