.toolbar-options {
    flex: 1 1 auto;
}

.search-field {
    width: 200px;
    font-size: 10pt;
    margin-bottom: -10px;
}

a {
    text-decoration: none;
}

.toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

.mat-toolbar {
    background: #ffd8b3;
}

.icon {
    width: 30px;
    padding-right: 5px;
}