<div class='bg'>
    <div class="login-content">
        <div class="logo">
            <img src="../../favicon.ico">
        </div>
        <div class="welcome-info">
            <div class="font-section">
                <h1>Welcome to Package Pal.</h1>
                <h5>Created by Jason Richards & Jacob Engelbrecht.</h5>
            </div>
            <button color="primary" style="border-radius: 48px" mat-raised-button (click)="signIn()">Sign In with Google</button>
        </div>
    </div>
</div>